body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:555px;
  overflow:hidden;
  touch-action:none;
}
#u236_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:555px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
}
#u237_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:1796px;
  background-image:none;
}
#u237_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1796px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1796px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:890px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:9px;
  width:123px;
  height:176px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:228px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:258px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u243 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:345px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u244 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:345px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u245 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:345px;
  width:80px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:615px;
  width:375px;
  height:52px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:615px;
  width:375px;
  height:52px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:615px;
  width:188px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:615px;
  width:187px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:14px;
  width:121px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u256 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:14px;
  width:64px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u257 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:14px;
  width:48px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:571px;
  width:56px;
  height:56px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:408px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:130px;
  width:306px;
  height:408px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:400px;
  width:355px;
  height:257px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:605px;
  width:355px;
  height:1px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:78px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:516px;
  width:353px;
  height:78px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:416px;
  width:353px;
  height:78px;
  overflow:hidden;
  touch-action:none;
}
#u270_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u270_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
}
#u271_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:400px;
  height:78px;
  background-image:none;
}
#u271_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:78px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:78px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#007AFF;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:622px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#007AFF;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:605px;
  width:354px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:571px;
  width:56px;
  height:56px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:350px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:159px;
  width:306px;
  height:350px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
