body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:73px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:16px;
  width:60px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:91px;
  width:375px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
