body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:375px;
  height:602px;
  overflow:hidden;
  touch-action:none;
}
#u317_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u317_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
}
#u318_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:986px;
  background-image:none;
}
#u318_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:986px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:986px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:485px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:53px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
