body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:161px;
}
#u1764 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:495px;
  width:359px;
  height:161px;
}
#u1765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:603px;
  width:359px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1767 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:12px;
  width:56px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:77px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
